body {
  text-align: center;
  background-color: lightblue;
}

#title h1, h2 {
  font-family: monospace;
  color: black;
}

#title {
  margin-top: 40px;
}

h2 {
  margin: 0;
}


#wavesContainer {
  text-align: center;
  margin-bottom: 20px;
  display: inline-block;
  background-color: black;
}

.waveLine {
  margin: 0;
  padding: 0;
  font-family: monospace;
  font-size: 1px;
  color: white;
}

.picker {
  padding: 5px;
}

#outerPickerContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.row {
  display: flex;
  justify-content: center;
}

#fade {
  height: 10000px;
  width: 10000px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: lightblue;
  z-index:1000;
}

#loading {
  position: absolute;
  left: 45vw;
  top: 200px;
  z-index:1001;
}

p {
  padding: 0;
}
